/* FUENTE */

@font-face {
  font-family: "Itim";
  src: url("../../assets/fonts/Itim/Itim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PermanentMarker";
  src: url("../../assets/fonts/Permanent_Marker/PermanentMarker.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
