{
  "emailjsUserId": "",
  "emailjsServiceId": "",
  "emailjsTemplateIdUser": "",
  "emailjsTemplateIdNotification": "",
  "urlBackend": "backend/save_signature.php",
  "fpEmail": "youremail@gmail.com"
}
