/* ESTILOS DE LA SECCIÓN DE DECORACIÓN */
.decoration {
  padding: var(--sp-3xl);
  width: 100%;
  position: relative;

  span {
    color: var(--light);
    font-size: var(--fs-large);
  }

  h2 {
    margin-top: var(--sp-lg);
    color: var(--gray);
    font-size: var(--fs-3extra-large);
  }

  .background-img {
    opacity: 0.3 !important;
    position: absolute;
    transform: rotate(-14deg);
    right: var(--sp-3xl);
    top: 160px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    height: 300px;
    width: 500px;
    border-radius: 16px;
  }
}
